/* You can add global styles to this file, and also import other style files */
@import "../node_modules/bootstrap/dist/css/bootstrap.min.css";

.img-75{
    width: 75px;
    height: 75px;
}

.fill-height{
    height: 100vh;
}

.b-black{
    background: #212121;
}